.App {
    text-align: center;
    /*color: #61dafb;*/
}

.navigation{
    position: fixed;
    display: block;
    width: 100%;
    text-align: left;
}

.navigation .changeColor {
    margin: 0 10px;
}

.downIcon {
    position: relative;
    bottom: 45px;
    width: 100vw;
    height: 0;
}

.red {
    /*background-color: red;*/
}

.blue {
    /*background-color: blue;*/
}